.container-decision{
  display: flex;
  height: 90dvh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.container-header {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10dvh;
}