<form [formGroup]="decisionOptionsForm">
  <div>
    <label for="option-one"> Opción 1 </label>
    <input id="option-one" type="text" formControlName="optionOne" />
  </div>
  <div>
    <label for="option-two"> Opción 2 </label>
    <input id="option-two" type="text" formControlName="optionTwo" />
  </div>
  <div>
    <label for="option-three"> Opción 3 </label>
    <input id="option-three" type="text" formControlName="optionThree">
  </div>
  <div>
    <label for="option-four"> Opción 4 </label>
    <input id="option-four" type="text" formControlName="optionFour">
  </div>
  <div>
    <label for="option-five"> Opción 5 </label>
    <input id="option-five" type="text" formControlName="optionFive">
  </div>
  <div class="container-buttons">
    <div class="container-button">
      <button class="button waves-effect waves-light btn" (click)="onChangeStep(0)">
        Atrás
      </button>
    </div>
    <div class="container-button">
      <button class="button waves-effect waves-light btn" [ngClass]="{'disabled': !decisionOptionsForm.valid }" (click)="onChangeStep(2)">
        Siguiente
      </button>
    </div>
  </div>
</form>
